@font-face {
  font-family: 'futurabt-medium';
  src: url('../fonts/futurabt-medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/futurabt-medium.woff') format('woff'), url('../fonts/futurabt-medium.ttf')  format('truetype'), url('../fonts/futurabt-medium.svg#Futurabt-medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Bold';
  src: url('../fonts/Helvetica-Bold.ttf')  format('truetype')
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff !important;
  opacity: 0.20;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff !important;
  opacity: 0.20;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff !important;
  opacity: 0.20;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff !important;
  opacity: 0.20;
}

.banner>.container-fluid {
    padding: 0 10%;
}

.header nav> .container-fluid {
    padding: 0 5%;
}

.banner h2>span {
    font-size: 60px;
    display:  block;
}

.flex-content {
    display:  flex;
    justify-content: center;
    align-items:  center;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #000;
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
}
.navbar-default {
    /* background-image: -webkit-linear-gradient(top,#fff 0,#f8f8f8 100%); */
    background-image: -o-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: unset !important;
    background-image: unset !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}
.navbar-default {
    border-color: #0956ae00;
    padding-top: 0px;
    height: 90px;
    background: url(../img/banner.jpg) no-repeat !important;
    border-radius: 0;
}
.app_img h4 {
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
ul.nav.navbar-nav {
    float:  right;
    margin-top: 10px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 25px 15px;
}
#home {
    margin-top: 90px;
}
.markit_billon>img {
    max-width: 100%;
}
.header {
    background-image: url(../img/banner.jpg);
    float: left;
    width: 100%;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.app_img {
    margin-top: 25px;
    float: right;
}
.banner h2 {
    font-size: 80px;
    line-height: 90px;
    color: #fff;
    font-family: Helvetica-Bold;
}
.banner h2>span {
    font-size: 60px;
    display: block;
}
.app_img img {
    width: 100%;
}
.banner p {
    font-size: 26px;
    color: #fff;
    padding-top: 6px;
    font-family: Helvetica-Bold;
    font-weight: 100;
    max-width: 87%;
}
.app_banner {
    margin-top: 20px;
}
a.Custom.bt {
    border: 9px solid #2ba4af;
    padding: 15px 45px;
    display: inline-block;
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color: #1d5f66;
    font-weight: 100;
	text-decoration:none;
}



/**********cryptocurrency ************/
section.cryptocurrency {
    float:  left;
    width:  100%;
    margin-top:  100px;
}

.markit_billon {
    text-align:  center;
}

.markit_billon h2 {
    font-size: 37px;
    color: #16c7ca;
    line-height: 50px;
    margin-bottom: 20px;
    margin-top: 0px;
    font-family: Helvetica-Bold;
    font-weight: 400;
}
.markit_billon span {
    color: #282828;
    padding-left: 10px;
}

.markit_billon h3 {
    font-size: 75px;
    text-transform: uppercase;
    color: #16c7ca;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 0;
}
.markit_billon p {
    font-size: 18px;
    color: #676767;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin-top: 20px;
}

/*****imate***/

section.imate_world {
    float: left;
    width: 100%;
    padding-top: 60px;
    background-color: #fafafa;
    margin-top: 68px;
}

.sem_title {
    text-align:  center;
}

.sem_title h1 {
    font-size: 54px;
    color: #282828;
    position: relative;
    padding-bottom: 50px;
    font-family: Helvetica-Bold;
    font-weight: 500;
}
.sem_title h1:before {
    content: "";
    width: 86px;
    height: 2px;
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: #16c7ca;
    bottom: 26px;
    right: 0;
    margin: auto;
}
.sem_title p {
    font-size: 20px;
    color: #636d75;
    margin-bottom: 0px;
   font-family: Helvetica-Bold;
    font-weight: 500;
}

.imate_box {
    padding-top:  60px;
}

.imate_box ul {
    padding:  0;
    margin:  0;
    list-style:  none;
    display:  flex;
    justify-content:  center;
    align-items:  center;
}
.nav_top_menu{
	
}

.imate_box li {
    box-shadow: 0px 2px 7px #bbb7b7;
    margin: 0 14px;
    padding: 49px 20px 32px 20px;
    text-align: center;
    flex: 0 24%;
    background-color: #fff;
}
.miliyan {
    text-align:  center;
    margin-top:  70px;
}

.miliyan h2 {
    font-size: 40px;
    color: #676767;
    margin-bottom: 0px;
   font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.miliyan h3 {
    margin-top: 12px;
    margin-bottom: 50px;
   font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.imate_box h2 {
    font-size: 30px;
    color: #282828;
    margin-top: 50px;
    text-transform: uppercase;
    margin-bottom: 23px;
    font-family: Helvetica-Bold;
    font-weight: 500;
}
.imate_box h3 {
    font-size: 24px;
    font-family: Helvetica-Bold;
    font-weight: 500;
}

.imate_box span {
    padding-left:  20px;
}

.imate_box p {
    font-size:  15px;
    color:  #636d75;
    line-height:  24px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom:  19px;
}

.imate_box a {
    border:  1px solid;
    padding: 16px 30px;
    display:  inline-block;
    border-radius:  50px;
    text-decoration:  none;
    font-size:  15px;
    color:  #00499c;
    text-transform:  uppercase;
    font-family: 'Open Sans', sans-serif;
}
/********register*******/
section.register {
    float: left;
    width: 100%;
    background-image: url(../img/register.jpg);
    background-size: cover;
    padding: 50px 0;
}
.newsletter {
    width: 730px;
    margin: auto !important;
    position: relative;
    margin: 0 auto;
}
.news_letter_input {
    height: 70px;
    border-radius: 4px;
    padding-left: 35px;
    font-size: 17px;
    color: #969595;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    width: 508px;
}
.newsletter form {
    background-color: #41a7b5;
    padding: 15px;
    border-radius: 4px;
    position: relative;
}
.newsletter h2 {
    font-size: 27px;
    color: #fff;
    margin-bottom: 28px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 0;
}
.news_send {
    background: #16c7ca;
    color: #fff;
    border: 0;
    padding: 13px 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    position: absolute;
    right: 11px;
    top: 16px;
    height: 70px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
/********app*******/
section.secure_app {
    float: left;
    width: 100%;
    background-color: #fafafa;
    margin-top: 36px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.financial_app {
    padding-top: 60px;
    float: left;
}
.financial {
    text-align: right;
    padding-top: 44px;
    position: relative;
    display: flex;
    float: right;
    height: 236px;
    width: 588px;
}


.financial.right span {
    padding-right: 5px;
    padding-left: 5px;
}
.fincal_img.two {
    position:  relative;
}

.fincal_img.two:after {
    background-image: url(../img/line2.png);
    width: 145px;
    height: 125px;
    background-size: 100%;
    content: "";
    display: inline-block;
    position: absolute;
    right: 134px;
    top: 137px;
}
.fincal_img.two.last:after {
    background-image: unset;
}
.fincal_img.one {
    position:  relative;
}

.fincal_img.one:after {
    content:  "";
    display:  inline-block;
    position:  absolute;
    width: 53px;
    height: 0px;
    border: 2px dotted #17c8cb;
    top: 84px;
    right: -41px;
}

.financial h2 {
    font-size: 20px;
    color: #16c7ca;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: Helvetica-Bold;
    font-weight: 500;
}
.fincal_bx h3 {
    margin-top: 6px;
    font-family: Helvetica-Bold;
    font-weight: 500;
}
.fincal_img {
    position:  relative;
}



.financial p {
    font-size: 18px;
    color: #636d75;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.financial span {
    padding-left: 5px;
    color: #16c7ca;
    padding-right: 5px;
}

.financial h2 span img {
    width: 28px;
}

.app_center img {
}

.app_center {
    text-align:  center;
}

.financial.right {
    text-align: left;
    float: left;
}

/***********carl_freer**********/
section.carl_freer {
    float:  left;
    width:  100%;
    background-image:  url('../img/caral_banner.jpg');
    background-size: cover;
    padding:  65px;
}

.carl_box {
    border-right: 2px solid #1298a7;
    text-align:  center;
}

.carl_box h2 {
    font-size:  40px;
    text-align:  center;
    color:  #fff;
    margin-top:  14px;
    margin-bottom:  0px;
}

.carl_box span {
    color:  #fff;
    font-size:  20px;
}

.carl_freer p {
    font-size:  18px;
    line-height:  28px;
    color:  #ffffff;
    margin-bottom:  38px;
}

/******downlod****/
section.downlod_app {
    float: left;
    width: 100%;
    padding-top: 60px;
}
.imate_right {
    float: right;
    margin-top: 122px;
}
.app_bt img {
    width: 33%;
}
.downlod_app h2 {
    font-size: 45px;
    color: #282828;
    text-transform: uppercase;
    margin-bottom: 50px;
    padding-top: 0;
    position: relative;
   font-family: Helvetica-Bold;
    font-weight: 500;
	text-align:center;
}
.downlod_app h2:after {
    content: "";
    width: 86px;
    height: 2px;
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: #16c7ca;
    top: 60px;
    right: 0;
    margin: auto;
}

.downlod_app p {
    font-size: 20px;
    line-height: 26px;
    color: #676767;
    margin-bottom: 15px;
    font-family: Helvetica-Bold;
    font-weight: 500;
}

.app_bt {
    margin-top:  20px;
    float:  left;
}
ul.big_data {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-top: 30px;
}

.big_data li {
    box-shadow: 0px 2px 7px #bbb7b7;
    margin: 0 14px;
    padding: 36px 15px;
    text-align: center;
    flex: 0 24%;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.big_data h3 {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.big_data span {
    font-size: 16px;
    line-height: 22px;
    color: #676767;
    font-weight: 400;
}
/********earlay**********/
section.earlay {
    width: 100%;
    float: left;
    margin-top: 60px;
    height: 590px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fafafa;
    padding-top: 50px;
    margin-bottom: 50px;
}


.earlay h2 {
    /* margin-top: 175px; */
    font-size: 45px;
    color: #282828;
    margin-bottom: 50px;
    position: relative;
    font-family: Helvetica-Bold;
    font-weight: 500;
	text-align: center;
}

.earlay h2:after {
    content: "";
    width: 86px;
    height: 2px;
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: #16c7ca;
    top: 60px;
    right: 0;
    margin: auto;
}

.laptop img {
    margin: 40px auto;
    display: block;
	max-width: 659px;
}
.earlay p {
    font-size: 20px;
    color: #676767;
	font-family: Helvetica-Bold;
    font-weight: 500;
	text-align: center;
}

/**********cryptoscore_bg*********/
section.cryptoscore_bg {
    float:  left;
    width:  100%;
}

.cryptoscore_bg p {
    text-align: center;
    font-size: 20px;
    color: #676767;
    line-height: 28px;
    margin-bottom: 38px;
    font-family: Helvetica-Bold;
    font-weight: 500;
}

.cryptoscore_bg span {
    color:  #16c7ca;
}


/*******team*****/
section.team {
    float:  left;
    width:  100%;
    margin-top:  100px;
}

ul.denis_box {
    padding:  0;
    margin:  0;
    list-style:  none;
    display:  flex;
    margin-top:  60px;
}

.denis_box li {
    box-shadow: 0px 2px 7px #bbb7b7;
    margin: 0 14px;
    padding: 34px 22px 39px 22px;
    text-align: center;
    flex: 0 32%;
    background-color: #fff;
}

.denis_box h2 {
    font-size:  24px;
    margin-top:  19px;
    margin-bottom:  12px;
}

.denis_box span {
    font-size:  18px;
    color:  #676767;
    margin-bottom: 25px;
    display:  block;
}

.denis_box p {
    font-size:  18px;
    line-height:  26px;
    color:  #676767;
}

/********testmonials******/
section.testmonials_slider {
    float: left;
    width: 100%;
}



div#our_therapist .left.carousel-control i, div#our_therapist .right.carousel-control i{font-size: 45px; color:  #7f7f7f}
.testimonial{float: left; width: 100%; background: url(../images/testi-bg.jpg); background-repeat: no-repeat; background-size: cover}

.testimonial {
    float: left;
    width: 100%;
    background-color: #f8f9fa;
    margin-top: 100px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 80px;
}

.testimonial .quote {
    color: #024a9e;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}
.testimonial #fade-quote-carousel h5 {
    font-size: 20px;
    color: #024a9e;
    margin-top: 20px;
}
.testimonial #fade-quote-carousel span {
    color: #636d75;
    font-size: 16px;
}
.testimonial .quote i {
    font-size: 60px;
}
.testimonial #fade-quote-carousel p {
    font-size: 15px;
    color: #636d75;
    font-family: 'Open Sans', sans-serif;
}
.testimonial #fade-quote-carousel h3{color: #fd9e40; font-size: 14px;font-family: 'Open Sans', sans-serif; font-weight: bold; text-transform: uppercase; margin: 55px 0 0}
.testimonial #fade-quote-carousel h4{color: #ffffff; font-size: 14px;font-family: 'Open Sans', sans-serif; font-weight: bold; text-transform: uppercase; margin: 10px 0 0;}
.testimonial #fade-quote-carousel blockquote{border:0; margin: 0; padding: 0 0 50px}


/*-------------------------------*/
/*    Testimonial Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding: 0  150px;
      z-index: 0;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators > li{width: 68px; height: 68px; background-color: transparent; border:0; text-indent: 0 ; opacity: 0.3; border:3px solid #ffffff; border-radius: 50%; overflow: hidden; transition: all 0.4s;}
#fade-quote-carousel.carousel .carousel-indicators > li.active{opacity: 1; width: 90px; height: 90px;}
#fade-quote-carousel.carousel .carousel-indicators > li.active .client_img img{width: 100%}
#fade-quote-carousel.carousel .carousel-indicators {
    bottom: -51px;
}





/************testimonial************/

.valentino_box {
    border: 1px solid #d8d8d8;
    display: inline-block;
    margin-bottom: 20px;
}
.sorano_img {
    border: 4px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #d8d8d8;
    float: left;
    height: 150px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-top: 25px;
    overflow: hidden;
    width: 150px;
}
.sorano_text {
    float: left;
    margin-top: 10px;
    padding-left: 25px;
    padding-right: 20px;
    width: 69%;
}
.sorano_text > h1 {
    color: #272727;
   font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.sorano_text > span {
    color: #6e6e6e;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
}
.sorano_text > p {
    color: #6e6e6e;
    font-size: 16px;
    line-height: 24px;
}
.testimonial_br {
    float: left;
    margin-top: 50px;
    width: 100%;
}
.sorano_text > span::after {
    color: #0fc1a7;
    content: "";
    display: inline-block;
    float: right;
    font-family: fontawesome;
    font-size: 28px;
    margin-top: 13px;
}
.valentino_box:hover{
	background:#333333;
}
.valentino_box:hover  h1,.valentino_box:hover span,.valentino_box:hover p{
	color:#fff;
}
.valentino_box:hover .sorano_text > span::after {
    color: #fff;
}







/*********app*******/
ul.app_list {
    padding:  0;
    margin:  0;
    display:  flex;
    list-style:  none;
    padding-top:  70px;
}

.app_list img {
    width:  100%;
}

section.screenshoots {
    float:  left;
    width:  100%;
    margin-top:  90px;
}

/********accordion******/

#accordion .panel {
  border-radius: 0;
  border: 0;
  margin-top: 0px;
}
#accordion .panel .panel-heading a {
    display: block;
    padding: 10px 15px;
    border: 1px solid #bdc3c7;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 6px;
    text-align: left;
    color: #636d75;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
#accordion .panel-heading a.collapsed:hover,

#accordion .panel-heading a.collapsed:hover::before,
#accordion .panel-heading a.collapsed:hover, #accordion .panel-heading a.collapsed:hover::before, #accordion .panel-heading a.collapsed:focus::before {
    color: #636d75;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
}
#accordion .panel-heading {
  padding: 0;
  border-radius: 0px;
  text-align: center;
}
#accordion .panel-heading a:not(.collapsed) {
    color: #636d75;
    transition: all 0.2s ease-in;
    text-align: left;
    font-size: 16px;
}

/* Add Indicator fontawesome icon to the left */
#accordion .panel-heading .accordion-toggle::after {
    content: "\f055";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-align: right;
    float: right;
	transform: rotate(-135deg);
}
#accordion .panel-heading .accordion-toggle.collapsed::after {
    color: #636d75;
   transform: rotate(0deg);
    transition: all 0.2s ease-in;
}
section.accordion_asked {
    float: left;
    width: 100%;
    padding-top: 60px;
}
div#accordion {
    padding-top: 25px;
    width: 870px;
    margin: 0 auto;
}
.clr{
	clear:both;
}
/*******fotter********/

section.footer {
    background-image: url(../img/footer_banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    float: left;
    padding: 65px;
    margin-top: 86px;
}
a.send {
    background-color: #0b7e95;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    padding: 12px;
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
h2.ft-title.cry {
    font-size: 33px;
    color: #fff;
   font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.footer p {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
}

ul.ft-list {
    padding:  0;
    margin:  0;
    list-style: none;
}

.ft-list span {
    padding-right: 20px;
}

h2.ft-title {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 20px;}

.ft-list a {
    font-size:  16px;
    line-height:  30px;
    color:  #fff;
    text-decoration: none;
}

ul.social_icon {
    padding:  0;
    margin:  0;
    list-style:  none;
    display:  flex;
    margin-top:  30px;
}

.social_icon li {
    margin: 0 12px;
    margin-left:  0;
}

.social_icon span {
    width:  50px;
    height:  50px;
    border: 1px solid #87b5c3;
    display:  flex;
    justify-content:  center;
    align-items:  center;
    border-radius:  50px;
    background-color:  #87b5c3;
    color:  #fff;
    font-size:  20px;
}

.social_icon a {
    text-decoration: none;
}

.footer .form-group {
    margin-bottom: 10px;
}

.footer .form-control {
    background-color:  #22446b;
    border:  0;
    height:  41px;
    border-radius: 2px;
}

.footer textarea {
    width: 100%;
    background-color: #22446b;
    border: 0;
    height: 72px;
    padding: 6px 12px;
}

.footer button.btn.btn-default {
    /* background-color: red !important; */
}

section.copy_right {
    float:  left;
    width:  100%;
    text-align:  center;
    background-image:  url('../img/copy_right.jpg');
    background-size:  100% 100%;
    padding:  20px;
}

.copy_right p {
    margin: 0;
    font-size: 16px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

section.accordion_asked.accbt {
    padding-top: 25px;
    padding-bottom:  25px;
}

.accbt div#accordion {
    margin-top: 0;
    padding-top:  0;
}

.white_bt {
    text-align: center;
}
.white_bt a {
    border: 9px solid #3bc9d6;
    padding: 10px 38px;
    display: inline-block;
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
    margin-top: 30px;
    background-color: #1d5f66;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}


.account_bx img {
    width: 100px;
}

.imate_box span img {
    width:  auto;
}

.financial_sem {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}
.play_video {
    position: relative;
    width: 100%; height: 320px; max-width: 720px;
    margin: auto; overflow: hidden; box-shadow: 0px 0px 1px 0px #ccc;
}
.play_video video{object-fit: cover;}
#what_is_crypt .overlay img{max-width: 70px}
#what_is_crypt .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(6, 33, 78, 0.5);  
}
#Market_menu {
    margin-top: 40px;
    width: 100%;
    float: left;
}
#what_is_crypt .overlay span{position: absolute; justify-content: center; align-items: center; width: 90px; height: 90px}
#what_is_crypt .overlay span b{margin-top: 10px; color: #fff; font-family: 'Open Sans', sans-serif; display: block; font-weight: 600;}
#what_is_crypt .overlay #vdo_button{display: block; transform-origin: center;  height: 100%}
#what_is_crypt .overlay span:hover #vdo_button{transition: all 0.7s ease; transform: scale(1.1);}
#what_is_crypt .overlay.clicked{opacity: 0}
#what_is_crypt .overlay.clicked span{width: 100%; height: 100%}
video{object-fit: cover;}

/*========================== responsive code =======================*/
@media screen and (max-width: 2000px) and (min-width: 1800px) {
	
	.app_list li {
    margin: 0 34px;
    margin-left: 0;
}
.app_list li:last-child {
    margin:  0;
}
.app_list img {
    width: 100%;
}
	
	
}
@media only screen and (max-width: 1441px) {
    .top_footer:after {
    right: 3%;
}

}

@media only screen and (max-width: 1260px) {
  .top_footer:before {
    background: url(../img/footer_before1.png) no-repeat;
	width: 164px;
	height: 80px;
}
.top_footer:after {
    background: url(../img/footer_after1.png) no-repeat;
	width: 164px;
	height: 80px;
	right: 4%;
}
.newsletter {
    width: 50%;
}
.footer_social_icon li {
    margin: 0 3px;
}
.footer_social_icon {
    margin-top: 50px;
}


}

@media only screen and (max-width: 1060px) {
.imate_box li {
    height: 330px;
}

}

@media only screen and (min-width: 1100px) and (max-width: 1600px) {
section.earlay {
    margin-top: 40px;
    background-size: 100%;
	height: 490px;
}
/* .earlay h2 {
    margin-top: 120px;
} */
.banner h2 {
    font-size: 57px;
    line-height: 66px;
}
.banner h2>span {
    font-size: 41px;
}
.app_img h4 {
    font-size: 12px;
}

}


@media only screen and (max-width: 1025px) {

div#accordion {
    padding-top: 60px;
    width: 100%;
    margin: 0 auto;
}
.app_img img {
    width: 100%;
}
.banner h2 {
    padding-top: 100px;
    font-size: 50px;
}
.sem_title h1 {
    font-size: 35px;
}





}
@media screen and (max-width: 1200px) and (min-width: 1025px) {
.banner h2 {
    padding-top: 78px;
    font-size: 32px;
    line-height: 50px;
}
.newsletter {
    width: 77%;
}
section.footer {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.white_bt {
    float: left;
    width: 100%;
}
.financial_app {
    width: 100%;
}
.financial_sem {
    width: 91%;
    margin: 0 auto;
}
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
.navbar-default .navbar-nav>li>a {
    font-size: 11px;
    padding: 25px 0px;
}
.navbar-nav>li {
    padding: 0 8px;
}	
.banner h2>span {
    font-size: 26px;
}

.banner p {
    font-size: 19px;
}
ul.big_data {
    float:  left;
}
.earlay .col-md-6 {
    max-width:  100%;
    margin-bottom:  20px;
}

section.earlay {
    height:  auto;
}
.imate_box ul {
    flex-direction: row;
    flex-wrap:  wrap;
}

.imate_box li {
    margin-bottom:  20px;
}

.news_letter_input {
    width: 100%;
}

.newsletter {
    width:  80%;
}

.news_send {
    top: 15px;
}
.banner h2 {
    padding-top: 23px;
    font-size: 42px;
}	
.imate_box li {
    height: auto;
}
.imate_right img {
    width: 100%;
}
.financial.right {
    padding-left: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
}
.financial h2 {
    font-size: 18px;
}
.financial {
    float: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: auto;
    text-align: center;
}
.fincal_img.two:after {
   display:none;
}
.financial p {
    font-size: 14px;
    line-height: 20px;
}
.fincal_img.one:after {
   display:none;
}
section.footer {
    padding: 0;
}
.earlay .col-md-6 {
    max-width: 50%;
}
.footer .col-md-4 {
    max-width: 25%;
    float:  left;
}

.footer .col-md-2 {
    max-width: 20%;
    float:  left;
}

.footer .col-md-3 {
    max-width:  30%;
    float:  left;
}

.footer .col-md-3 {
    max-width: 28%;
}
h2.ft-title.cry {
    font-size:  20px;
}

h2.ft-title {
    font-size:  16px;
}

.social_icon span {
    width:  30px;
    height:  30px;
    font-size: 15px;
}

.footer p {
    font-size:  12px;
}
ul.nav.navbar-nav {
    margin-top: 10px;
}
.banner h2 {
    font-size: 30px !important;
    line-height: 43px;
}
.financial_sem {
    flex-direction:  column;
    justify-content:  center;
    align-items:  center;
}

.financial_app {
    margin:  0 auto;
    display:  table-row-group;
    width:  100%;
}
.financial.revas {
    flex-direction: column-reverse;
}
section.earlay {
    background-size: 100%;
}
}
@media only screen and (max-width: 880px) {
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 10px;
}
.sem_title p {
    font-size: 16px;
	line-height: 23px;
}
.banner h2 {
    padding-top: 21px;
    font-size: 47px;
}
.sem_title h1 {
    font-size: 28px;
}
.sem_title h1:before {
    bottom: 10px;
}
.sem_title h1 {
    padding-bottom: 33px;
}
section.imate_world {
    padding-top: 20px;
    margin-top: 30px;
}
.markit_billon h2 {
    font-size: 18px;
    line-height: 30px;
}
.markit_billon br {
    display: none;
}
.markit_billon span {
    padding-left: 0;
}

.markit_billon h3 {
    font-size:  30px;
}

.markit_billon h2 {
    margin-bottom:  10px;
}

section.cryptocurrency {
    margin-top: 30px;
}

.miliyan h2 {
    font-size:  21px;
}

.miliyan {
    margin-top:  30px;
}

.newsletter h2 {
    font-size: 18px;
}


.imate_box h2 {
    font-size: 18px;
    margin-top: 20px;
}
.imate_box p {
    font-size: 14px;
}
.imate_box li {
    height: 385px;
}
section.secure_app {
    margin-top: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
	overflow: hidden;
}
.financial h2 {
    font-size: 20px;
}
.app_center img {
    width: 100%;
}
.financial {
    padding-top: 0px;
}
section.downlod_app {
    padding-top: 30px;
}
.imate_right img {
    width: 100%;
    padding-top: 44px;
}
.downlod_app h2 {
    font-size: 25px;
}
.downlod_app p {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 10px;
}
.app_bt img {
    width: 48%;
}
.testimonial {
    margin-top: 60px;
    padding-top: 50px;
}
#fade-quote-carousel.carousel {
    padding: 0 70px;
}
section.screenshoots {
    margin-top: 50px;
}
.top_footer {
    margin-top: 60px;
}
.footer_social_icon li a {
    font-size: 20px;
    padding: 5px 7px;
}


}
@media screen and (max-width: 767px) and (min-width: 481px) {
.news_letter_input {
    width: 100%;
}	
.news_send {
    top: 62px;
}	
.fincal_img.tab {
    margin-top: 0;
}
.app_banner {
    text-align: center;
    margin-bottom: 20px;
}
}





@media screen and (max-width: 767px) and (min-width: 320px) {
	.play_video {
    position: relative;
    width: 100%;
    height: 200px;}
	
.app_banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app_banner img {
     width: 110px;
    padding: 0 4px;
    padding-left: 0;
}

  .imate_box ul {
    flex-direction: column;
}
.fincal_img.tab {
    margin-top: 0;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
    width: 64px;
    height: 64px;
}
.app_img {
    float: none;
    text-align: center;
    margin-top: 2px;
}
.app_bt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.imate_right {
    float: none;
    text-align: center;
}
.imate_right img {
    width: auto;
    padding-top: 44px;
}
.app_bt img {
    width: 100%;
}
.app_img img {
    width: 100%;
}
.imate_box li {
    width: auto;
    height: auto;
    margin: 0 0 30px 0;
    padding: 30px;
}
  .app_center img {
    width: auto;
}
.imate_box h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h2 {
    font-size: 50px;
    line-height: 48px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0;
}
.banner p {
    font-size: 15px;
    padding-top: 7px;
    text-align: center;
}
a.Custom.bt {
    margin-top: 10px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 213px;
    margin-bottom: 20px;
}
.banner p {
    max-width: 100%;
    margin-bottom: 15px;
}
.app_img h4 {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 15px;
}
.navbar-default .navbar-brand {
    padding: 0 15px;
    float: left;
    width: 64%;
}

div#bs-example-navbar-collapse-1 {
    position: absolute;
    width: 100%;
    background: #002856;
    z-index: 99;
    margin-top: 0;
}
ul.nav.navbar-nav {
    float: none;
    margin-top: 10px;
}  
.navbar-default .navbar-nav>li>a {
    padding-left: 30px;
	padding: 9px 15px;
}
.financial {
    text-align: center;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    float: none;
}
.financial.right {
    float: none;
}
.earlay h2 {
    margin-top:  0px;
    font-size: 25px;
}

.laptop {
    display:  block;
}

.laptop img {
    width:  100%;
}

section.earlay {
    background-image: unset;
    background-color: #fafafa;
    padding-top: 25px;
    margin-top: 20px;
}

.earlay p {
    margin-bottom:  20px;
}

section.secure_app {
    margin-top:  0px;
    padding-top:  25px;
}

section.footer {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
}
.fincal_img.two:after {
    display:none;
}
.fincal_img.one:after{
	display:none;
}
  .financial.right {
    text-align: center;
}
.newsletter {
    width: 100%;
}  
.footer_social_icon {
    margin-top: 30px;
}  
.top_footer:before {
    background: url(../img/footer_before2.png) no-repeat;
	width: 111px;
	height: 55px;
}
.top_footer:after {
    background: url(../img/footer_after2.png) no-repeat;
	width: 111px;
	height: 55px;
	right: 4%;
}  
 .footer_bottom p {
    font-size: 13px; 
 } 
  .footer_bottom {
    padding: 10px 0;
}
 .panel-title {
    font-size: 15px;
}
ul.app_list {
    padding-top: 35px;
}
section.accordion_asked {
    padding-top: 50px;
}
#fade-quote-carousel.carousel {
    padding: 0 10px;
}
.carousel-indicators {
    bottom: 10px;
    left: 0;
    width: 80%;
    right: 0;
    margin: auto;
}
.app_center {
    margin: 25px 0;
}
.sem_title h1 {
    font-size: 22px;
}
.financial_app {
    padding-top: 15px;
    float: none;
}
.downlod_app h2, .downlod_app p {
    text-align: center;
}
.navbar-brand>img {
    display: block;
    width: 50%;
    float: left;
}
.navbar-default {
    height: auto;
    padding: 13px 0px 0px 0px;
    padding-bottom: 0;
    display: block;
}
h2.ft-title.cry {
    text-align: center;
    margin-bottom: 0px;
}

.footer p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
}

ul.ft-list {
    text-align: center;
    margin-bottom: 40px;
}

h2.ft-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.footer a {
    text-align:  center;
    margin:  0 auto;
    display:  block;
    width:  100%;
}

ul.social_icon {
    justify-content:  center;
    align-items:  center;
}
ul.big_data {
    flex-direction: column;
}
.big_data li {
    margin-bottom: 20px;
}
.navbar-nav>li {
    width: 100%;
}
.navbar-default .navbar-nav>li>a:hover {
    
    border-bottom: 0;
}
a.active{
	display: none;
    border-bottom: 0;
}
.financial_sem {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.revas {
    flex-direction: column-reverse;
}
.financial {
    width: 100%;
}
.downlod_app h2:after {
    margin: 0 auto;
    left: 0;
    right: 0;
}
.flex-content {
    flex-direction:  column;
    justify-content:  center;
    align-items:  center;
    width:  100%;
    margin:  0;
}
.col-rev-mob {
    flex-direction: column-reverse;
}

.banner h2>span {
    font-size: 20px;
    line-height: normal;
}

.banner .col-md-7.col-sm-7 {
    max-width:  100%;
}

.banner .col-md-5.col-sm-5 {
    max-width:  100%;
}
.financial span {
    padding-left: 0px;
    padding-right: 0px;
}
.financial.right span {
    padding-right: 0px;
    padding-left: 0px;
}
.financial.right br {
    display: none;
}
}


@media screen and (max-width: 480px) and (min-width: 320px) {
.news_send {
    height: 40px;
    font-size: 12px;
    top: 15px;
}
.app_img img {
    width: 100% !important;
}	
.imate_right img {
    width: 100% !important;
}	
.app_bt img {
    width: 100% !important;
}
ul.big_data {
    flex-direction:  column;
} 

.big_data li {
    flex: 100%;
    margin-bottom:  20px;
}

.news_letter_input {
    width: 100%;
    height: 40px;
    font-size: 12px;
    padding: 12px 13px;
}
.banner h2 {
    font-size: 40px;
    padding-top: 12px;
}
.app_banner {
    text-align: center;
}
.app_banner img {
    margin-bottom: 10px;
}
}

@media screen and (-webkit-device-pixel-ratio: 1.0) and (max-width: 1449px) {
section.cryptocurrency {
    margin-top:  50px;
}

section.imate_world {
    margin-top: 50px;
    padding-top:  50px;
}

.miliyan {
    margin-top:  40px;
}

section.register {
    padding-top:  25px;
    padding-bottom:  25px;
}

section.downlod_app {
    padding-top:  50px;
}

section.earlay {
    margin-top: 40px;
    background-size: 100%;
	height: 670px;
}
/* .earlay h2 {
    margin-top: 120px;
} */
.banner h2 {
    font-size: 60px;
    line-height: 66px;
}

.banner h2>span {
    font-size: 44px;
}

.app_img h4 {
    font-size: 12px;
}
section.secure_app {
    margin-top:  25px;
    padding-top:  25px;
}

section.accordion_asked {
    padding-top:  50px;
}

section.footer {
    margin-top:  50px;
}
}

.footer .col-md-3 a {
    margin: 0 7px;
    margin-left: 0;
}
.app_banner img {
    width: 150px;
}
.footer a img {
    width: 110px;
}

